*{
    margin: 0;
    box-sizing: border-box;
}

.Header{
    text-align: center;
    color: #F8F4EA;
    background-color:#232b2b;
    font-family:sans-serif ;
    padding: 80px 40px 50px 40px;
}
.Header h3{
    margin-top: 20px;
}
.Header p{
    font-size: 13px;
    margin-top: 20px;
}
.nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0 auto 0 auto; 
    top: 0;
    padding-top:40px;
}


.ProjectButton{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #F8F4EA;
    color:#232b2b;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}
.ProjectButton:hover{
    background-color:#232b2b;
    color: #F8F4EA;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(248,244,234,1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(248,244,234,1);
    box-shadow: 0px 0px 8px 0px rgba(248,244,234,1);
}
.ContactSubject{
    font-family: sans-serif;
    color:#232b2b;   

}
.projectSubject{
    margin: 50px 0 0 10px;
    font-family: sans-serif;
    color:#232b2b;
}
.contactDiv{
    background-color:#232b2b;
}
.contactDiv h2{
    color: #F8F4EA;
    padding-top:10px;
    padding-bottom: 10px;

}
.ContactSubject{
    margin:30px 0 0 10px;
}
.scrollUp{
    cursor: pointer;
    max-width: 13%;
    height: 8%;
    padding: 10px;
    background-color:#8a8989;
    border-radius:50%;
    position: fixed;
    margin-right: 20px;
    margin-bottom: 20px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.scrollUp img{
   max-width: 100%;
   max-height: 100%;
}
.scrollUp:hover{
    background-color: #9d9c9c;
}
